

/NeuroML2/simulator.props

/NeuroML2/*.mod
/NeuroML2/*.hoc
/NeuroML2/*.dat
/NeuroML2/*_nrn.py 

/NeuroML2/Examples/*.mod
/NeuroML2/Examples/*.hoc
/NeuroML2/Examples/*.dat
/NeuroML2/Examples/*_nrn.py 
/NeuroML2/Examples/*.props


/NeuroML2/*.pyc
/NeuroML2/*i686
/NeuroML2/*x86_64
/NeuroML2/generatedNEURON
/NeuroML2/generatedGENESIS
/NeuroML2/generatedMOOSE
/NeuroML2/generatedPSICS
/NeuroML2/simulations
/NeuroML2/*.bak
/NeuroML2/*py.class
/NeuroML2/*~

