



/Examples/simulator.props
/Examples/
/Examples/*.mod
/Examples/*.hoc
/Examples/*.dat
/Examples/*_nrn.py 

/Examples/*.mod
/Examples/*.hoc
/Examples/*.dat
/Examples/*_nrn.py 
/Examples/*.props
/Examples/*.net.nml
/Examples/*.xml


/Examples/*.pyc
/Examples/*i686
/Examples/*x86_64
/Examples/generatedNEURON
/Examples/generatedGENESIS
/Examples/generatedMOOSE
/Examples/generatedPSICS
/Examples/simulations
/Examples/*.bak
/Examples/*py.class
/Examples/*~

