

simulator.props

*.mod
*.hoc
*.dat
*_nrn.py 

*.mod
*.hoc
*.dat
*_nrn.py 
*.props
*.net.nml
*.xml


*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~

simulator.props
*.mod
*.hoc
*.dat
*_nrn.py 

*.mod
*.hoc
*.dat
*_nrn.py 
*.props
*.net.nml
*.xml


*.pyc
*i686
*x86_64
generatedNEURON
generatedGENESIS
generatedMOOSE
generatedPSICS
simulations
*.bak
*py.class
*~

